<h1>Login</h1>
<hr>

<div class="row justify-content-center">
    <div class="col-9">
        <form class="p-4" (ngSubmit)="ingresar( f )" #f="ngForm">
            
            <input 
                type="text"
                [(ngModel)]="nombre"
                name="nombre"
                class="form-control"
                placeholder="Nombre de usuario"
                autofocus
                autocomplete="off"
                required
            >

            <button class="mt-2 btn btn-primary btn-block" [disabled]="nombre.length === 0">Ingresar</button>                

        </form>

    </div>
</div>